body {
	background-color: lightgray;
}

.vue {
	width: 80%;
	margin: auto;
}

.base {
	background-color: lightgreen;
	text-align: center;
}

button {
	font-size: 16px;
	color: white;
	background-color: skyblue;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
}

ul {
	padding-left: 0;
}