<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DIRECTIVAS</title>
	<link rel="stylesheet" href="base.css">
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div class="vue">
		
		<!-- V - BIND -->
		<!-- Crea una conexion entre en JS y HTML  
		osea que desde el JS le puedes mandar informacion al HTML en un sentido -->
		<!-- Maneras de usar v-bind 
				-> v-bind:
				-> :
		-->
		<div class="base">
			<h2>Aqui veremos un ejemplo de V-BIND</h2>		
			<img v-bind:src="vbind" ></img>
		</div>
		

		<!-- V - TEXT -->
		<!-- Permite mostrar dentro del elemento en el que se encuentre el texto 
		que tengamos dentro de una propiedad -->
		<!-- Seria lo mismo que hacer 
				-> {{ vtext }} ->> lo cual es lo que haremos la mayoria de vecesx
		-->
		<div class="base">
			<h2>Aqui veremos un ejemplo de V-TEXT</h2>
			<div v-text="vtext"></div>
		</div>

		<!-- V - HTML -->
		<!-- Permite mostrar cadena de HTML dentro de nuestros elementos -->
		<div class="base">
			<h2>Aqui veremos un ejemplo de V-HTML</h2>		
			<div v-html="vhtml"></div>
		</div>
		
		<!-- V - IF   &&   V - ELSE   &&    V-ELSE-IF -->
		<!-- TEMPLATE -->
		<!-- Es una etiqueta de html que no se muestra en el DOM -->
		<div class="base">
			<template>
				<h2>Aqui veremos un ejemplo de V-IF y V-ELSE</h2>
				<div v-if="vIfElse==1"><h3>Its the number -> 1</h3></div>
				<div v-else-if="vIfElse==2"><h3>Its the number -> 2</h3></div>
				<div v-else><h3>Its the number -> 3</h3></div>
				<button type="" @click="changes">Change it</button>
			</template>
		</div>

		<!-- V - SHOW -->
		<!-- Existe otra opocion para mostrar o ESCONDER el contenido en el DOM -->
		<div class="base">
			<h2>Aqui veremos un ejemplo de V-SHOW</h2>
			<div v-show="vshow">
				<p>Este parrafo no esta oculto</p>
			</div>
			<div v-show="!vshow">
				<p>Este parrafo si estaba oculto</p>
			</div>
			<button type="" @click="changeIt">Turn it</button>
		</div>

		
		<!-- V - FOR -->
		<div class="base">
			<h2>Aqui veremos un ejemplo de V-FOR</h2>
			<template>
				<ul>
					<li v-for="item in items">
						{{ item.item}}
					</li>
				</ul>
				<input type="text" v-model="tarea" placeholder="Inserta un item">
				<button type="submit" @click="agregar(tarea)">Agregar</button>
			</template>
			
			<template>
				<h2>Aqui veremos un ejemplo de INDICES en V-FOR</h2>
				<ul>
					<li v-for="(item,idx) in items">
						{{ idx + 1 }} -> {{ item.item }}
					</li>
				</ul>
			</template>
			<template>
				<h2>Aqui veremos un ejemplo de V-FOR con TEMPLATES</h2>
			
				<ul>
					<template v-for="item in items">
						<li>
							{{ item.item }}
						</li>
						<hr/>
					</template>
				</ul>
			</template>

			<template>
				<h2>Aqui veremos un ejemplo de V-FOR con OBJETOS</h2>
			
				<ul>
					<template v-for="(valor, llave) in objeto">
						<li>
							{{ llave }} -> {{ valor }}
						</li>
						<hr/>
					</template>
				</ul>
			</template>
		</div>


		<!-- V - ON  -->
		<!-- <input type="text" v-on:keyup=""> -->
		<!-- <h1>{{ name }}</h1> <-->
		<pre>
			{{ $data | json }}
		</pre>

	</div>
	<script src="vue.js"></script>
</body>
</html>